@import url(https://fonts.googleapis.com/css?family=Lato:300);
body{
width:100%;
height:100%;
overflow-x:hidden;
}
h1,p,email,div,span,quote,h2,h3,h4,h5,h6,input,button{
	margin:0;
	padding:0;
	left:0;
	right:0;
	top:0;
	bottom:0;
}
#navigation{
 width:100%;
 height:75px;
 background-color:black;
 }
 #navigation ul{
 position:relative;
 top:40%;
 }
 #navigation ul li{
 list-style:none;
 display:inline;
 padding:32px 30px 26px 30px;
 color:white;
 font-size:1.2em;
 }
 #navigation ul li:hover{
 background-color:#363636;
 cursor:pointer;
 }
#image-intro{
 height:1080px;
 max-width:100%;
 background:url(Image.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment:scroll;
 }
 #image-intro h1{
 text-align:center;
 font-family:Lato !important;
 color:#E0E0E0;
 position:relative;
 top:40%;
 }
  #button-main{
	position:relative;
	top:45%;
	left:43%;
	padding:12px;
	border:1px solid white;
	background-color: rgba(165, 166, 166, 0.3);
	text-decoration:none;
	color:black;
	font-size:1.5em;
	border-radius:5px;
 }
 #button-main:hover{
 background-color:#292929;
 color:white;
 transition:0.5s;
 }
 #skills{
 height:350px;
 width:100%;
 }
 #skills h1{
 text-align:center;
 }
 .col-md-4 ul{
 text-align:center;
 margin-top:10%;
 }
 .col-md-4 ul li{
 list-style:none;
 }
 .col-md-4 .front-end::before{
 content:"Front end:";
 font-size:1.5em;
 }
  .col-md-4 .misc::before{
 content:"Miscallenous:";
 font-size:1.5em;
 }
  .col-md-4 .back-end::before{
 content:"Back end:";
 font-size:1.5em;
 }
 #footer{
 height:150px;
 width:100%;
 text-align:center;
 background-color:#171717;
 color:white;
 }
 #footer .contact::before {
	content:"Contact";
	display:block;
	margin-bottom:5px;
 }
/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
 /*Footer*/
 #footer{
	 margin-top:5%;
	 position:relative;
	 top:300px;
	 font-size:0.965em;
	 text-align:center;
	 height:230px;
 }
 #footer ul{
	 position:relative;
	 right:15px;
 }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	 #button-main{
	 left:35%;
 }
	 /*Skills section*/
 #skills ul{
	 position:relative;
	 right:15px;
 }
	 #footer{
	 margin-top:5%;
	 position:relative;
	 top:260px;
	 font-size:1em;
	 text-align:center;
	 height:230px;
 }
 #footer ul{
	 position:relative;
	 right:15px;
 }
}



/* Portrait phones and smaller */
@media (max-width: 480px) {
	
 #navigation{
	 height:100px;
 }
 #navigation ul li{
	 display:block;
	 margin:0;
	 padding:25px;
	 text-align:center;
 }
 #navigation ul{
	 margin:0;
	 padding:0;
	 top:0;
 }
 /*Big-image & it's button*/
 #image-intro{
	 height:1185px;
 }
 #button-main{
	 left:25%;
 }
 /*Skills section*/
 #skills ul{
	 position:relative;
	 right:15px;
 }
 /*Footer*/
 #footer{
	 position:relative;
	 top:250px;
	 font-size:0.965em;
	 text-align:center;
	 height:230px;
 }
 #footer ul{
	 position:relative;
	 right:15px;
 }
}
